@mixin telefono {
    @media only screen and (min-width: #{$telefono}) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (min-width: #{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (min-width: #{$desktop}) {
        @content;
    }
}

@mixin exRateCalculator {
    @media (max-width: #{600px}) {
        @content;
    }
}

@mixin boton($claro, $boton) {
    cursor: pointer;
    background-color: $boton;
    box-shadow: $boxShadow;
    color: $claro;
    border: 2px solid $boton;
    display: block;
    font-size: 16px;
    margin: 10px 0 30px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    transition: background-color .5s ease-in-out;
    &:active {
        transform: scale(0.98);
    }
    &:hover {
        background-color: $claro;
        border: 2px solid $boton;
        color: $boton;
    }
}

@mixin box-sizing($box-model) {
    box-sizing: $box-model;
}

@mixin gradiente($color1, $color2) {
    background: linear-gradient(to right, $color1 0%, $color2 100%);
}