// Fuentes
$fuentePrincipal: 'Lato', sans-serif;
// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
// Colores
$body: #F7F7F7;
$h3: #BBBBBB;
$back:#F4F4F4;
$border1: #DEDEDE;
$oscuro: #000000;
$claro: #FFFFFF;
$income: #2ECC71;
$expense: #C0392B;
$boton: #9C88FF; 
$liList: #333333;
$deleteBtn: #e74c3c;
// Box Shadow
$boxShadow: 0 20px 20px rgba(252,169,169,0.6);